#menu {
    width: 8%;
    position: fixed;
    right: 10%;
    top: 2%;
}
#menuDropdown {
    background-color: lime;
    width: 80px;
    position: fixed;
    right: 5%;
    top: 71px;
}
.menuItem {
    display: grid;
    place-items: center;
    padding: 5px;
}
.menuItem h4 {
    margin: 0 auto;
   
}
.menuItem img {
    width: 60%;

}